* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)), url(images/blackhole.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 1% 5%;
  justify-content: space-between;
  align-items: center;
}
nav .fa-regular {
  display: none;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  transition: 0.5s;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  background-image: none;
}
.nav-links ul li .here {
  cursor: default;
}
.nav-links ul li .here::after {
  content: '';
  width: 100%;
  height: 2px;
  background: rgb(255, 255, 0);
  display: block;
  margin: auto;
}
.nav-links ul li .link::after {
  content: '';
  width: 0%;
  height: 2px;
  background: rgba(255, 0, 0, 1);
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li .link:hover::after {
  width: 100%;
}
.nav-links ul li .inactive {
  cursor: not-allowed;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.text-box h1 {
  font-size: 62px;
}
.text-box p {
  margin: 10px auto 30px;
  font-size: 18px;
}

.organ-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 3px solid #fff;
  padding: 12px 34px;
  font-size: 15px;
  background: transparent;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
  margin-right: 10px;
  margin-left: 10px;
}
.organ-btn:hover {
  border: 3px solid #f44336;
  transition: 0.5s;
}

@media(max-width: 700px) {
  .text-box h1 {
    font-size: 40px;
  }
  .text-box p {
    font-size: 15px;
  }
  .organ-btn {
    padding: 10px 20px;
    font-size: 12px;
  }

  .nav-links ul li {
    display: block;
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.5));
    cursor: default;
  }
  .nav-links {
    position: fixed;
    background: linear-gradient(rgba(25,25,112,1),rgba(25,25,112,1), rgba(25,25,112,0.5),rgba(25,25,112,0.2));
    height: 100vh;
    width: 140px;
    top: 0;
    right: -140px;
    text-align: right;
    z-index: 2;
    transition: 0.3s;
  }
  .nav-links a:hover {
    color: red;
    transition: 0.3s;
  }
  .nav-links ul li .link:hover::after {
    width: 0%;
  }
  .nav-links ul li .here::after {
    width: 0%;
  }
  .nav-links ul li .here {
    color: yellow;
  }
  nav .fa-regular {
    color: #fff;
    display: block;
    text-align: right;
    margin: 15px;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
  }
  nav .fa-square-plus {
    margin: 7px;
  }
  nav .fa-regular:hover {
    color: #f44336;
    transition: 0.3s;
  }
}

/* footer */

.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  background: black;
  color: #fff;
}

.icons .fa-brands {
  color: rgb(255,255,153);
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
  font-size: 20px;
}

.fa-heart {
  color: #f44336;
}

/* --- About page --- */

.sub-header {
  height: 35vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)), url(images/galaxy.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}
.sub-header h3 {
  margin-top: 20px;
  font-size: 40px;
}
.about {
  width: 100%;
  margin: auto;
  padding: 25px;
  background: rgb(26, 25, 25);
}
.about h2 {
  font-size: 35px;
  color: #fff;
}
.about-col {
  color: #fff;
  float:left;
  margin-top: 30px;
  width: 50%;
  min-height: 80px;
  font-size: 15px;
  text-align: center;
}
.about .row::after {
  content: "";
  display: table;
  clear: both;
}
.about-col img {
  width: 100%;
}

@media(max-width: 700px) {
  .about-col {
    width: 100%;
  }

}